/* Small devices (landscape phones, 576px and up)
@media screen (min-width: 576px)

Medium devices (tablets, 768px and up)
@media screen (min-width: 768px)

Large devices (desktops, 992px and up)
@media screen (min-width: 992px) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e54d2e;
  --primary-colot-dark: #853a2d;
  --bg-color: #fff8f7;
  --bg-color-dark: #1f1513;
  --text-color: #d13415;
  --text-color-dark: #ff977d;
}

.button-type1 {
  line-height: 1;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 5px solid var(--primary-color);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 20px;
  transition: 0.3s;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
}

.button-type1:hover {
  transform: translateY(5px);
}

.button-type2 {
  position: relative;
  line-height: 1;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: bold;
  border-top: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
  border-bottom: 5px solid var(--primary-color);
  border-radius: 20px;
  transition: 0.3s;
  background-color: #ffffff;
  padding: 1rem 2rem;
}

.button-type2:hover {
  transform: translateY(5px);
}

.close-form-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--primary-color);
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  background: #ffffff;
  border: 0px;
}

.login-close-form-button {
  top: 1rem;
  right: 1rem;
  color: var(--primary-color);
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  background: #ffffff;
  border: 0px;
}
