* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e54d2e;
  --primary-colot-dark: #853a2d;
  --bg-color: #fff8f7;
  --bg-color-dark: #1f1513;
  --text-color: #d13415;
  --text-color-dark: #ff977d;
}
