.profil-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 30px;
  margin-top: 30px;
  height: 100px;
}

.sprite-admin-page {
  margin-right: 20%;
  margin-top: 50px;
  height: 150px;
  margin-bottom: 10px;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 12px 24px;
  text-transform: uppercase;
  box-shadow: 4px 4px 0 var(--primary-color-dark), 8px 8px 0 #4d2b27;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.left-and-right-side {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 95%;
  margin-left: 50px;
}

.left-side {
  display: flex;
  flex-direction: column;
  margin: 50px;
  height: 60vh;
  margin-left: 30px;
  justify-content: space-between;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  width: 40%;
}

.level-quest {
  text-align: center;
  font-size: 1.5rem;
}

.email,
.pseudo,
.first-pseudo,
.second-pseudo {
  display: flex;
  margin-top: 1vh;
}

.information-button,
.left-modification-button,
.right-modification-button,
.button-modification-photo,
.gestion-button {
  display: inline-block;
  padding: 12px 24px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.game-button {
  display: inline-block;
  width: 300px;
  height: 300px;
  text-transform: uppercase;
  text-align: center;
  line-height: 300px;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  box-shadow: 4px 4px 0 var(--primary-color-dark), 8px 8px 0 #4d2b27;
  margin-top: 10vh;
  align-self: center;
}

.password {
  visibility: hidden;
}

.first-pseudo {
  text-align: left;
  font-size: 1.1em;
  margin-top: 80px;
}
.second-pseudo {
  font-size: 1.1em;
  margin: 0px;
  padding: 0px;
}

.left-modification-button {
  display: inline-block;
  cursor: pointer;
  padding: 7px 25px;
  width: 500px;
  height: 80px;
  align-self: center;
}

.button-modification-photo {
  display: inline-block;
  cursor: pointer;
  padding: 7px 25px;
  text-decoration: none;
  width: 500px;
  height: 80px;
  justify-self: center;
}

.pseudo {
  text-align: left;
  margin-bottom: 0px;
  margin-top: 10%;
  font-size: 1.1em;
}

.password {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.1em;
}

.email {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 10%;
  font-size: 1.1em;
}

.right-modification-button {
  display: inline-block;
  cursor: pointer;
  padding: 7px 25px;
  width: 500px;
  height: 80px;
  justify-self: center;
}

.logout-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
