:root {
  --primary-color: #e54d2e;
  --primary-color-dark: #853a2d;
  --bg-color: #fff8f7;
  --bg-color-dark: #1f1513;
  --text-color: #d13415;
  --text-color-dark: #ff977d;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo {
  margin-left: 30px;
  margin-top: 30px;
  height: 100px;
}

.sprite-admin-page {
  margin-right: 20rem;
  margin-top: 50px;
  height: 150px;
  margin-bottom: 10px;
}

.left-and-right-side {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 95%;
  margin-left: 50px;
}

.left-side {
  display: flex;
  flex-direction: column;
  margin: 50px;
  height: 60vh;
  margin-left: 30px;
  justify-content: space-between;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  width: 40%;
}

.level-quest {
  text-align: center;
}

.email,
.pseudo,
.first-pseudo,
.second-pseudo {
  display: flex;
  margin-top: 1vh;
}

.information-button,
.left-modification-button,
.right-modification-button,
.button-modification-photo,
.gestion-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--primary-color);
  color: var(--bg-color);
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  border: 4px solid var(--bg-color);
  border-radius: 18px;
  box-shadow: 4px 4px 0 var(--primary-color-dark), 8px 8px 0 #4d2b27;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.information-button:hover,
.left-modification-button:hover,
.right-modification-button:hover,
.button-modification-photo:hover,
.gestion-button:hover {
  background-color: var(--bg-color);
  color: var(--text-color-dark);
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0 #4d2b27, 8px 8px 0 #261613;
}

.information-button:active,
.left-modification-button:active,
.right-modification-button:active,
.button-modification-photo:active .gestion-button:active {
  background-color: var(--primary-color-dark);
  color: var(--text-color);
  transform: translate(0, 0);
  box-shadow: 2px 2px 0 #4d2b27, 4px 4px 0 #261613;
}

.game-button {
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: var(--primary-color);
  color: var(--bg-color);
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 300px;
  border: 4px solid var(--bg-color);
  border-radius: 50%;
  box-shadow: 4px 4px 0 var(--primary-color-dark), 8px 8px 0 #4d2b27;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  margin-top: 10vh;
  align-self: center;
}
.game-button:hover {
  background-color: var(--bg-color);
  color: var(--text-color-dark);
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0 #4d2b27, 8px 8px 0 #261613;
}

.game-button:active {
  background-color: var(--primary-color-dark);
  color: var(--text-color);
  transform: translate(0, 0);
  box-shadow: 2px 2px 0 #4d2b27, 4px 4px 0 #261613;
}

.password {
  visibility: hidden;
}
.information-button {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  width: 500px;
  height: 80px;
  align-self: center;
  margin-top: 40px;
}

.information-button:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
.information-button:active {
  position: relative;
  top: 1px;
}
.first-pseudo {
  text-align: left;
  font-size: 1.1em;
  margin-top: 80px;
}
.second-pseudo {
  font-size: 1.1em;
  margin: 0px;
  padding: 0px;
}
.left-modification-button {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  width: 500px;
  height: 80px;
  align-self: center;
  margin-top: 40px;
}

.left-modification-button:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
.left-modification-button:active {
  position: relative;
  top: 1px;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  width: 40%;
}

.button-modification-photo {
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border-radius: 18px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
  width: 500px;
  height: 80px;
  justify-self: center;
}
.button-modification-photo:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
}
.button-modification-photo:active {
  position: relative;
  top: 1px;
}

.pseudo {
  text-align: left;
  margin-bottom: 0px;
  margin-top: 80px;
  font-size: 1.1em;
}

.password {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.1em;
}

.email {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.1em;
}

.right-modification-button {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  width: 250px;
  height: 90px;
  width: 400px;
  height: 80px;
  justify-self: center;
}

.right-modification-button:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
.right-modification-button:active {
  position: relative;
  top: 1px;
}

.logout-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.game-start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  border-bottom: 5px solid var(--primary-color);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  transition: 0.3s;
  background-color: var(--primary-color);
}
