.gameboard-page {
  width: 100%;
  height: 99vh;
  background: url("../../assets/images/background.png") no-repeat center center
    fixed;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 20px;
}

.gamedisplay-container {
  grid-area: 1 / 1 / 6 / 6;
}
.profil-container {
  grid-area: 1 / 6 / 3 / 8;
}
.instructions-container {
  grid-area: 3 / 6 / 8 / 8;
}
.command-container {
  grid-area: 6 / 1 / 8 / 6;
}

.final-screen-transition {
  filter: brightness(0);
  transition: 3s;
}
.ending-video {
  background-color: black;
  width: 98vw;
  height: 98vh;
}

.video-button {
  position: absolute;
  top: 96%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  color: rgba(229, 77, 46, 0.9);
  background-color: rgb(185, 185, 185);
  font-weight: bold;
  border-radius: 5px;
  opacity: 0.7;
  width: 90%;
}

.video-button:hover {
  color: var(--text-color);
  background-color: white;
  opacity: 1;
}
