.gameboard-page {
  width: 100%;
  height: 99vh;
  background: url("../../assets/images/background.png") no-repeat center center
    fixed;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 20px;
}

.gamedisplay-container {
  grid-area: 1 / 1 / 6 / 6;
}
.profil-container {
  grid-area: 1 / 6 / 3 / 8;
}
.instructions-container {
  grid-area: 3 / 6 / 8 / 8;
}
.command-container {
  grid-area: 6 / 1 / 8 / 6;
}
