.homepage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.homepage-logo-container {
  position: fixed;
  width: 18%;
  left: 2rem;
  top: 2rem;
}
.text-homepage {
  font-size: 2rem;
  text-align: justify;
  text-align: center;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 5rem;
  text-align: justify;
}
.homepage-buttons-container {
  display: flex;
  justify-content: center;
  margin: 2rem 15rem;
  gap: 2rem;
}

.soufiane-fantine {
  width: 50rem;
  height: auto;
  display: block;
  margin: 0 auto 2rem auto;
  margin-top: 5rem;
}
.text-homepage {
  font-size: 2rem;
  text-align: justify;
  text-align: center;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 5rem;
  text-align: justify;
}

.homepage-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 12rem;
  height: 3rem;
  cursor: pointer;
}

.login-button:hover {
  border-bottom-width: 0;
  transform: translateY(5px);
}

.register-button:hover {
  border-bottom: 2px solid var(--primary-color);
  transform: translateY(5px);
}

.homepage-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: end;
  margin-top: 1rem;
  bottom: 0;
  padding: 0.5rem;
  background: var(--primary-color);
  color: white;
}

.homepage-footer a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

@media screen and (max-width: 820px) {
  .homepage {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 7%;
  }

  .homepage-logo-container {
    width: 10%;
  }

  .homepage-logo {
    width: fit-content;
  }

  .homepage-text {
    margin: 6rem, 10rem, 3rem, 1rem;
  }

  .homepage-text p {
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }

  .homepage-buttons-container {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .homepage-button {
    width: 10rem;
  }

  .homepage-footer {
    text-align: center;
  }
}
