.sign-in-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  border-bottom: 5px solid var(--primary-color);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  transition: 0.3s;
  background-color: var(--primary-color);
}
.sign-in-button:hover {
  border-bottom-width: 0;
  transform: translateY(5px);
}
