.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  border-top: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
  border-bottom: 5px solid var(--primary-color);
  transition: 0.3s;
  background-color: #ffffff;
}
.subscribe-button:hover {
  border-bottom: 2px solid var(--primary-color);
  transform: translateY(5px);
}
