.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
h1 {
  display: inline;
}
.logo {
  margin-left: 30px;
  margin-top: 30px;
  height: 100px;
}
.sprite-admin-page {
  margin-right: 20rem;
  margin-top: 50px;
  height: 150px;
  margin-bottom: 10px;
}
.left-and-right-side {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 95%;
  margin-left: 50px;
}
.left-side {
  display: flex;
  flex-direction: column;
  margin: 50px;
  height: 60vh;
  margin-left: 3px;
  justify-content: space-between;
}

.level-quest {
  text-align: center;
}
.gestion-button {
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border-radius: 18px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
  width: 500px;
  height: 80px;
  justify-content: left;
}
.gestion-button:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
}
.gestion-button:active {
  position: relative;
  top: 1px;
}
.information-button {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  width: 200px;
  height: 50px;
  align-self: center;
  margin-top: 1px;
}

.information-button:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
.information-button:active {
  position: relative;
  top: 1px;
}
.first-pseudo {
  text-align: left;
  font-size: 1.1em;
  margin-top: 80px;
}
.second-pseudo {
  font-size: 1.1em;
  margin: 0px;
  padding: 0px;
}
.left-modification-button {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  width: 250px;
  height: 70px;
  align-self: left;
  margin-top: 40px;
}

.left-modification-button:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
.left-modification-button:active {
  position: relative;
  top: 1px;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  width: 40%;
}

.button-modification-photo {
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border-radius: 18px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
  width: 500px;
  height: 80px;
  justify-self: center;
}
.button-modification-photo:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
}
.button-modification-photo:active {
  position: relative;
  top: 1px;
}

.pseudo {
  text-align: left;
  margin-bottom: 0px;
  margin-top: 80px;
  font-size: 1.1em;
}

.password {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.1em;
}

span {
  -webkit-text-security: disc; /* Use a custom font to hide text */
}

.email {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.1em;
}

.right-modification-button {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  width: 250px;
  height: 90px;
  width: 400px;
  height: 80px;
  justify-self: center;
}

.right-modification-button:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
.right-modification-button:active {
  position: relative;
  top: 1px;
}
